/**
 *
 * @author: 姜峰 (jiangfeng@tomstaff.com)
 * @Date: 13-4-28 23:34
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main {
  width: 320px;
  height: 480px;
  border: 1px solid #eee;
  margin: auto;
  position: relative; }
  .main .enemy {
    top: 0;
    width: 320px;
    height: 200px;
    background-color: #f6f7f8;
    position: absolute;
    left: 0; }
  .main .partner {
    width: 320px;
    height: 200px;
    background-color: #f6f7f8;
    position: absolute;
    left: 0;
    bottom: 0; }
    .main .partner .role {
      bottom: 0; }
  .main li {
    width: 90px;
    height: 80px;
    border: 1px solid #ccc;
    margin: 5px;
    position: absolute; }
  .main .role {
    width: 50px;
    height: 70px;
    border: 1px dashed #f60;
    position: absolute; }
  .main #em1 {
    top: 100px;
    left: 60px; }
  .main #em2 {
    top: 100px;
    left: 160px; }
  .main #em3 {
    left: 10px;
    top: 10px; }
  .main #em4 {
    left: 110px;
    top: 10px; }
  .main #em5 {
    left: 210px;
    top: 10px; }
  .main #tm1 {
    top: 10px;
    left: 60px; }
  .main #tm2 {
    top: 10px;
    left: 160px; }
  .main #tm3 {
    left: 10px;
    top: 100px; }
  .main #tm4 {
    left: 110px;
    top: 100px; }
  .main #tm5 {
    left: 210px;
    top: 100px; }
