<!doctype html>
<html lang="en" data-ng-app="demoApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="" data-ng-controller="SimpleController">
  <input type="text" name="" data-ng-model="name" id=""> {{ name }}
  <ul>
    <li data-ng-repeat="cust in customers | filter: name | orderBy: 'city'">
      {{ cust.name | uppercase }} - {{ cust.city | lowercase}}
    </li>
  </ul>
</div>


<script src="../angular/angular.js"></script>
<script>

var demoApp = angular.module('demoApp', []);
var controllers = {};

controllers.SimpleController = function($scope){
  $scope.customers = [
    {name: 'John Smith', city: 'Phoenix'},
    {name: 'John Doe', city: 'New York'},
    {name: 'John Dor', city: 'San Francisco'}
  ];
}

demoApp.controller(controllers);
</script>
</body>
</html>