.tree h3, .tree h4, .tree h5 {
  text-align: center;
  margin: 0;
  padding: 0; }
.tree h3 {
  width: 175px;
  height: 32px;
  background-color: #f9ac16;
  color: white;
  line-height: 32px;
  font-size: 16px; }
.tree .second_box {
  background: url(tree-line.png) repeat-x center center;
  padding-right: 10px; }
