<!doctype html>
<html lang="en" ng-app="tree">
<head>
  <meta charset="UTF-8">
  <title>tree</title>
  <script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
  <script src="../angular/angular.js"></script>
  <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="tree.css">
  <script src="tree.js"></script>
</head>
<body>
  <!-- <div class="tree" id="J_tree" ng-controller="treeController"> -->
  <div class="tree" id="J_tree" treeview>
    <div class="fbox">
      <h3>{{tree.name}}</h3>
      <!-- <h3><a href="?id={{tree.id}}">{{tree.name}}</a></h3> -->
    </div>
    <div class="tranline"></div>
    <div class="sbox">
      <div class="sbox_list" ng-repeat="value in tree.descendants">
        <h4>{{value.name}}</h4>
        <!-- <h4><a href="?id={{value.id}}">{{value.name}}</a></h4> -->
        <div class="tbox">
          <div class="tranline"></div>
          <div class="sbox" ng-repeat="titles in value.children">
            <h5>{{titles.name}}</h5>
            <!-- <h5><a href="?id={{titles.id}}">{{titles.name}}</a></h5> -->
          </div>
        </div>
      </div>

      <!-- <div class="sbox_list">
        <h4>项目一</h4>
        <div class="tbox">
          <div class="tranline"></div>
          <div class="sbox">
            <h5>活动一</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
        </div>
      </div>

      <div class="sbox_list">
        <h4>项目二</h4>
        <div class="tbox">
          <div class="tranline"></div>
          <div class="sbox">
            <h5>活动一</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
        </div>
      </div>

      <div class="sbox_list">
        <h4>项目三</h4>
        <div class="tbox">
          <div class="tranline"></div>
          <div class="sbox">
            <h5>活动一</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
          <div class="sbox">
            <h5>活动二</h5>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</body>
</html>