<!doctype html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>angular</title>
  <script src="../angular/angular.min.js"></script>
  <script src="demo.js"></script>
</head>
<body>

<div class="well span6" ng-controller="personCtrl">
    <label>Name:</label>
    <input type="text" ng-model="name" placeholder="Enter a name here">
    <br>
    <label>Age:</label>
    <input type="text" ng-model="age" placeholder="Enter a number here">
    <hr>
    <h1>{{name}}</h1>
    <h2>{{age}}</h2>
  </div>
<a href="" ng-click="model.$save()">Save</a>
</body>
</html>