<!doctype html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>angular</title>
  <script src="../angular/angular.min.js"></script>
  <script src="demo.js"></script>
</head>
<body>

<div class="" ng-controller="friendCtrl">
  <ul>
    <li ng-repeat="friend in friends">[{{$index + 1}}]{{ friend }}</li>
  </ul>
</div>

<hr>

<div class="" ng-controller="friendSeach">
<ul>
  <li ng-repeat="friend in friends | filter:search">{{ friend.name }}({{ friend.age }})</li>
</ul>
</div>
<label>Search:</label>
<input type="text" ng-model="search">
<hr>

</body>
</html>