<!doctype html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>angular</title>
  <script src="../angular/angular.min.js"></script>
  <script src="demo.js"></script>
</head>
<body>

<label>
  <input type="checkbox" name="" id="" ng-model="checked">
</label>
<h2 ng-show="checked">show hide</h2>

<hr>
<div class="" ng-controller="ShowHideCtrl">
<label>
  <input type="checkbox" ng-model="eng" ng-true-value="abgne.tw" ng-false-value="to show" checked>
</label>
<h2 ng-show="eng">{{ eng }}</h2>
</div>
</body>
</html>