body {
  background: url(../images/bg.png) repeat; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

.main {
  width: 100%;
  height: 100%;
  background: url(../images/top-bg.jpg) no-repeat top center; }

.content {
  width: 1000px;
  margin: auto;
  color: #535352; }

.view {
  width: 259px;
  height: 72px;
  background: url(../images/icons.png) no-repeat -485px -25px;
  margin: 195px 0 0 640px; }
  .view a {
    height: 50px;
    width: 259px;
    display: block;
    line-height: 150px;
    overflow: hidden; }

.info {
  background-color: #f9f4e5;
  margin-top: -2px; }
  .info h3 {
    font-size: 29px;
    font-weight: bold;
    padding: 0 0 0 25px; }
  .info .box {
    border-top: 8px solid #f0e3c2;
    overflow: hidden; }

.totle.box {
  padding-top: 31px; }
.totle h3 {
  float: left; }
  .totle h3 span {
    float: left; }
  .totle h3 i {
    width: 65px;
    height: 23px;
    margin-left: 10px;
    float: left;
    background: url(../images/icons.png) no-repeat 0 -27px;
    _overflow: hidden; }
.totle a.share {
  width: 116px;
  height: 23px;
  line-height: 70px;
  background: url(../images/icons.png) no-repeat -66px -27px;
  margin-right: 25px;
  margin-top: -17px;
  float: right;
  overflow: hidden; }
  .totle a.share:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
.totle p {
  width: 744px;
  height: 54px;
  margin: 116px auto 28px;
  background: url(../images/icons.png) no-repeat 0 30px;
  text-align: center;
  _overflow: hidden; }
  .totle p b {
    color: #dd4a4a;
    font-size: 36px;
    font-weight: bold;
    font-family: arial; }
  .totle p span {
    height: 20px;
    line-height: 58px; }
.totle ul {
  border-top: 1px solid #f0e3c2;
  width: 1002px; }
.totle li {
  float: left;
  padding: 17px 0 22px 25px;
  width: 475px;
  border-right: 1px solid #f0e3c2; }
  .totle li em {
    font-size: 20px;
    line-height: 36px; }
    .totle li em span {
      color: #dd4a4a; }

.area {
  padding-top: 38px; }
  .area img {
    margin: 26px 0 32px 40px; }

.pay {
  padding-top: 23px; }

.pay-box {
  float: left;
  width: 500px;
  overflow: hidden; }
  .pay-box h4 {
    margin: 27px 0 20px 32px;
    line-height: 28px; }
    .pay-box h4 b {
      height: 28px;
      font-size: 18px;
      line-height: 28px;
      font-weight: normal; }
      .pay-box h4 b em {
        float: left; }
    .pay-box h4 i {
      height: 28px;
      width: 27px;
      float: left;
      margin-right: 7px;
      background: url(../images/icons.png) no-repeat; }
    .pay-box h4 span {
      font-size: 14px; }
  .pay-box ul {
    padding-left: 25px; }
  .pay-box li {
    height: 270px;
    width: 29px;
    float: left;
    background: url(../images/line.png) repeat-y;
    position: relative;
    background-color: #ded6c3;
    margin: 0 4px; }
    .pay-box li b {
      height: 29px;
      width: 29px;
      background: url(../images/icons.png) no-repeat 0 -109px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      color: #beb18f;
      font-size: 14px;
      line-height: 29px;
      *font-weight: normal; }
    .pay-box li i {
      display: block; }
      .pay-box li i.space {
        background-color: #f9f4e5; }
      .pay-box li i.crown {
        width: 29px;
        height: 16px;
        display: none;
        background: url(../images/icons.png) no-repeat;
        overflow: hidden; }
      .pay-box li i.conico {
        margin-left: 1px;
        height: 28px;
        width: 28px;
        background: url(../images/icons.png) no-repeat; }
  .pay-box p {
    width: 100%;
    float: left;
    line-height: 20px;
    font-size: 12px;
    color: #575756;
    padding: 27px 0 41px 39px; }
    .pay-box p b {
      font-size: 20px;
      float: left; }
    .pay-box p em {
      float: left; }
    .pay-box p span {
      color: #dd4a4a; }

.boy {
  color: #1b6095; }
  .boy h4 i {
    background-position: -183px -25px; }
  .boy li i.conico.ico0 {
    background-position: 0px -53px; }
  .boy li i.conico.ico1 {
    background-position: -28px -53px; }
  .boy li i.conico.ico2 {
    background-position: -56px -53px; }
  .boy li i.conico.ico3 {
    background-position: -84px -53px; }
  .boy li i.conico.ico4 {
    background-position: -112px -53px; }
  .boy li i.conico.ico5 {
    background-position: -140px -53px; }
  .boy li i.conico.ico6 {
    background-position: -168px -53px; }
  .boy li i.conico.ico7 {
    background-position: -196px -53px; }
  .boy li i.conico.ico8 {
    background-position: -224px -53px; }
  .boy li i.conico.ico9 {
    background-position: -252px -53px; }
  .boy li i.conico.ico10 {
    background-position: -280px -53px; }
  .boy li i.conico.ico11 {
    background-position: -308px -53px; }
  .boy li.curr {
    background-color: #1b6095; }
    .boy li.curr b {
      background-position: -29px -109px;
      color: white; }
    .boy li.curr i.crown {
      display: block;
      background-position: -252px -31px; }
  .boy p b {
    color: #1b6095; }

.girl {
  color: #951b60; }
  .girl h4 i {
    background-position: -221px -25px; }
  .girl li i.conico.ico0 {
    background-position: 0px -81px; }
  .girl li i.conico.ico1 {
    background-position: -28px -81px; }
  .girl li i.conico.ico2 {
    background-position: -56px -81px; }
  .girl li i.conico.ico3 {
    background-position: -84px -81px; }
  .girl li i.conico.ico4 {
    background-position: -112px -81px; }
  .girl li i.conico.ico5 {
    background-position: -140px -81px; }
  .girl li i.conico.ico6 {
    background-position: -168px -81px; }
  .girl li i.conico.ico7 {
    background-position: -196px -81px; }
  .girl li i.conico.ico8 {
    background-position: -224px -81px; }
  .girl li i.conico.ico9 {
    background-position: -252px -81px; }
  .girl li i.conico.ico10 {
    background-position: -280px -81px; }
  .girl li i.conico.ico11 {
    background-position: -308px -81px; }
  .girl li.curr {
    background-color: #951b60; }
    .girl li.curr b {
      background-position: -58px -109px;
      color: white; }
    .girl li.curr i.crown {
      display: block;
      background-position: -280px -31px; }
  .girl p b {
    color: #951b60; }

.study {
  padding-top: 29px; }
  .study ul {
    width: 950px;
    height: 274px;
    margin: 23px auto 25px;
    background: url(../images/studybg.jpg) no-repeat; }
  .study li {
    width: 472px;
    height: 146px;
    float: left; }
    .study li p {
      font-weight: bold;
      font-size: 22px;
      line-height: 32px; }
      .study li p.pla {
        margin: 66px 0 0 120px; }
      .study li p.plb {
        margin: 66px 0 0 104px; }
      .study li p.plc {
        margin: 24px 0 0 120px; }
      .study li p.pld {
        margin: 51px 0 0 104px; }
    .study li em {
      font-size: 36px;
      font-family: Arial;
      color: #dd4a4a;
      font-weight: bold; }
    .study li span {
      color: #dd4a4a;
      height: 24px; }
