.mask{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 1000;
  _filter:alpha(opacity = 60);
}
.layer{
  width: 240px;
  height: 100px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: 1001;
  _position: absolute;
}