@import 'global'

body
  background: $repeat-bg

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

.clearfix 
  display: inline-block

html[xmlns] .clearfix 
  display: block

* html .clearfix
  height: 1%

.main
  width: 100%
  height: 100%
  background: $main-bg

.content
  width: 1000px
  margin: auto
  color: #535352

.view
  width: 259px
  height: 72px
  background: url(../images/view.png) no-repeat
  margin: 195px 0 0 640px
  a
    height: 50px
    width: 259px
    display: block
    line-height: 150px
    overflow: hidden

.info
  background-color: #f9f4e5
  margin-top: -2px
  h3
    font-size: 29px
    font-weight: bold

  .box
    border-top: 8px solid #f0e3c2
    overflow: hidden
    // padding: 0 25px

.totle
  &.box
    padding-top: 31px
  h3
    padding: 0 0 0 25px
    float: left
    span
      float: left
    i
      width: 65px
      height: 23px
      margin-left: 10px
      float: left
      background: url(../images/feng.png) no-repeat
  
  

  a.share
    width: 116px
    height: 23px
    line-height: 70px
    background: url(../images/share.png) no-repeat 
    margin-right: 25px
    float: right
    overflow: hidden
    &:hover
      opacity: 0.8
      filter: alpha(opacity=80)

  p
    width: 744px
    height: 54px
    margin: 116px auto 28px
    background: url(../images/line.png) no-repeat 0 30px
    text-align: center
    b
      color: $red-color
      font-size: 36px
      font-weight: bold
      font-family: arial
    span
      height: 20px
      line-height: 58px

  ul
    border-top: 1px solid #f0e3c2
    width: 1002px
  li
    float: left
    padding: 25px 0 0 25px
    width: 500px
    border-right: 1px solid #f0e3c2
    em
      font-size: 20px
      span
        color: $red-color